/** FONT-SIZE CSS**/
.fs__14{
  font-size: 14px !important;
}


/*** ADD ELIPSIS TO TEXT **/
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**  label error color**/
label.error {
    color:red !important;
    font-size: 14px;;
}

/* toast css */
.toast-success{
    background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61));
  }
  .toast-error{
    background: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
  }
  
  /*** PAGINATION */
  .pagination-area .page-item a {
    border: 0;
    padding: 0 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 0;
    width: 34px;
    height: 34px;
    display: block;
    border-radius: 4px;
    color: #696969;
    line-height: 34px;
    text-align: center;
    font-weight: 700;
  }

  .pagination-area .page-item a:hover {
    color: #fff;
    background: #088178;
  }

  .pagination-area .page-item:last-child .page-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
/*** REMOVE WISHLIST**/
.remove-wishlist{
  position: absolute;
  top: 25px;
  right: 25px;
  z-index:9;
}
.remove-wishlist .wis_remove{
  background-color: #fff;
    width: 30px;
    height: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 30px;
    color: #222;
    opacity: 1;
    visibility: visible;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}
.wishlist-btn{
  padding: 8px 40px !important;
  font-size: 14px !important;
  font-weight: 500;
  color: #222 !important;
  border: none;
  background-color: #fff !important;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlist-btn:hover{
  border: 1px solid #046963 ;
}
.wishlist-add {
  border: 1px solid #046963 ;
  cursor: inherit !important;
}
.wishlist-add i{
  color: #046963;
  font-size: 16px;
}
.badge-1{
  border-radius: 50%;
}
.lbl-input{
  margin-top: 6px;
}
.edit-delete-btn{
  width: 20%;
  text-align: right;
}


/**RATING STAR***/

.product-rating-star label:before {
  content: '☆' !important;
  color: #696969 !important;
  font-size: 2em !important;
}
.product-rating-star label.on:before {
  content: '★' !important;
  color: #ed8a19 !important;
  /* uncomment for iOS */
/*   font-size: 2.4em !important;
  top: -0.1em !important;
  left: -0.1em !important; */
}
.product-rating-star input:checked + label:before {
  content: '★' !important; 
  color: #ed8a19 !important;
  /* uncomment for iOS */
/*   font-size: 2.4em !important;
  top: -0.1em !important;
  left: -0.1em !important; */
}
.product-rating-star label {  
  display: inline-block !important;  
  cursor: pointer !important;  
  position: relative !important;  
  padding-left: 20px !important;  
  margin-right: 5px !important;  
  font-size: 12px !important; 
  margin-bottom: 20px !important;
}
.product-rating-star label:before {
  display: inline-block !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px !important;
  position: absolute !important;
  left: 0 !important;
  border-radius: 10px !important;
}
.product-rating-star input[type=radio] {
  display: none !important;
  -webkit-appearance: none !important;
}

/** FILTER TAG**/
.clear-filter:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
 /* cart hover css  */
 .product-attr{
  bottom: 5px;
    width: 100%;
    z-index: 2;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 15%);
    background-color: #00000059;
    padding: 5px 0px;
    transition: 0.3s !important;
    display: none;
 }
 .product_grid_list .product-cart-wrap .product-img-action-wrap {
  
  padding: 0px;
  
}
.product-cart-wrap:hover .product-attr .truncate{
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.product-cart-wrap:hover .product-attr{
  position: absolute;
  bottom:24%;
  left: 0;
  right: 0;
  display: block;
  z-index: 7;
  border-radius: 20px;
}

/*** SORT BY : PRODUCT LIST PAGE*/
.shop-product-fillter .sort-by-product-area .sort-by-cover{
  min-width: 190px;
    width: auto;
}

/*** SLIDER : PRODUCT DETAIL PAGE **/
.carausel-slider-product .product-price span{
  font-size: 16px !important;
}

/** MINI CART DROPDROWN ***/
.shopping-cart-title h6 a{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cart-dropdown-wrap ul li .shopping-cart-img {
  flex: 0 0 50px !important;
}
.cart-dropdown-wrap ul li{
  margin: 0px;;
}



@media (min-width:320px) and (max-width:767px){
  .wishlist-btn, .btnAddToCart{
    
    padding: 6px 20px !important;

  }
  .wishlist-btn{
    margin: 0px !important;
  }
  .btnAddToCart{
    margin-right: 10px !important;
  }
  .edit-delete-btn{
    width: auto !important;
    text-align: center;
  }
}
